<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-body">
                        <div class="card-block">
                            <img alt="element 06" class="mb-1" src="assets/img/kassaa.png" width="75">
                            <h2>Şifremi Sıfırla</h2>
                            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control" name="email"  placeholder="Email" ngModel required email>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-secondary btn-block btn-raised">
                                          <img *ngIf='loading' src="../../../../assets/loading.gif" height="23" width="23">
                                          <span *ngIf='!loading'>GÖNDER</span>
                                        </button>
                                        <button routerLink="/pages/login" class="btn btn-google btn-block btn-raised">GERİ GÖN</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left"><a routerLink="/pages/login">Giriş Yap</a></div>
                        <div class="float-right"><a routerLink="/pages/register" >Kayıt Ol</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->
